
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


body{
    background-color: hsl(185, 75%, 39%);
    height: 100vh;
    font-family: "kumbh Sans";
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card{
    background-color: white;
    border-radius: 8px;
}

.card .perfil{
    padding: 30px;
    border-bottom: 2px solid hsl(240, 3%, 75%);
}

.card .perfil img{
    border-radius: 50%;
}

.card .perfil img,
.card .perfil .destaque{
    margin-bottom: 20px;
}

.destaque{
    font-weight: 700;
}

.texto-claro{
    color: var(--text-color);
}

.card .dados .informacoes{
    display: flex;
}

.card .dados .informacoes li{
    margin: 25px;
}

